/* -------------------------------------------------------------------------*/
/* Layout */
/* line 11, ../../sass/screen.scss */
body {
  background: #F7F3E8;
  min-width: 320px;
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 200;
  font-stretch: normal;
}
/* line 17, ../../sass/screen.scss */
body a {
  text-decoration: none;
}
/* line 21, ../../sass/screen.scss */
body .container {
  *zoom: 1;
  max-width: 24rem;
  _width: 24rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body .container:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 41rem) {
  /* line 21, ../../sass/screen.scss */
  body .container {
    max-width: 39rem;
    _width: 39rem;
  }
}
@media (min-width: 55rem) {
  /* line 21, ../../sass/screen.scss */
  body .container {
    max-width: 59rem;
    _width: 59rem;
  }
}
/* line 25, ../../sass/screen.scss */
body .container #header {
  font-weight: 700;
  font-size: 72px;
}
/* line 28, ../../sass/screen.scss */
body .container #header span {
  font-weight: 300;
  font-size: 18px;
  display: block;
}

/* line 38, ../../sass/screen.scss */
.post_job_button {
  font-size: 14px;
  padding: 0.3em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF337EC4', endColorstr='#FF1E4A73');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #337ec4), color-stop(100%, #28649c));
  background: -webkit-linear-gradient(#337ec4, #28649c);
  background: -moz-linear-gradient(#337ec4, #28649c);
  background: -o-linear-gradient(#337ec4, #28649c);
  background: -ms-linear-gradient(#337ec4, #28649c);
  background: linear-gradient(#337ec4, #28649c);
  -webkit-box-shadow: #6ba4d8 0 1px 0 inset;
  -moz-box-shadow: #6ba4d8 0 1px 0 inset;
  box-shadow: #6ba4d8 0 1px 0 inset;
  border: 1px solid #235787;
  color: white;
  text-shadow: #183a5b 0 -1px 0;
  float: right;
  margin-bottom: 20px;
}
/* line 15, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.post_job_button:hover {
  text-decoration: none;
}
/* line 36, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.post_job_button:hover {
  background-color: #235787;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2e71b0), color-stop(100%, #235787));
  background: -webkit-linear-gradient(#2e71b0, #235787);
  background: -moz-linear-gradient(#2e71b0, #235787);
  background: -o-linear-gradient(#2e71b0, #235787);
  background: -ms-linear-gradient(#2e71b0, #235787);
  background: linear-gradient(#2e71b0, #235787);
}
/* line 39, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.post_job_button:active {
  -webkit-box-shadow: #204f7b 0 1px 2px inset;
  -moz-box-shadow: #204f7b 0 1px 2px inset;
  box-shadow: #204f7b 0 1px 2px inset;
}
/* line 6, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.post_job_button.disabled, .post_job_button[disabled] {
  opacity: 0.6;
  background: #28649c;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.post_job_button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 44, ../../sass/screen.scss */
.view_job_button {
  font-size: 14px;
  padding: 0.3em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF3BA06F', endColorstr='#FF20553B');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3ba06f), color-stop(100%, #2d7b55));
  background: -webkit-linear-gradient(#3ba06f, #2d7b55);
  background: -moz-linear-gradient(#3ba06f, #2d7b55);
  background: -o-linear-gradient(#3ba06f, #2d7b55);
  background: -ms-linear-gradient(#3ba06f, #2d7b55);
  background: linear-gradient(#3ba06f, #2d7b55);
  -webkit-box-shadow: #62c595 0 1px 0 inset;
  -moz-box-shadow: #62c595 0 1px 0 inset;
  box-shadow: #62c595 0 1px 0 inset;
  border: 1px solid #266848;
  color: white;
  text-shadow: #173f2c 0 -1px 0;
  float: right;
  height: 48px;
  position: relative;
  top: -20px;
  width: 130px;
}
/* line 15, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.view_job_button:hover {
  text-decoration: none;
}
/* line 36, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.view_job_button:hover {
  background-color: #266848;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #348d62), color-stop(100%, #266848));
  background: -webkit-linear-gradient(#348d62, #266848);
  background: -moz-linear-gradient(#348d62, #266848);
  background: -o-linear-gradient(#348d62, #266848);
  background: -ms-linear-gradient(#348d62, #266848);
  background: linear-gradient(#348d62, #266848);
}
/* line 39, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.view_job_button:active {
  -webkit-box-shadow: #225d40 0 1px 2px inset;
  -moz-box-shadow: #225d40 0 1px 2px inset;
  box-shadow: #225d40 0 1px 2px inset;
}
/* line 6, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.view_job_button.disabled, .view_job_button[disabled] {
  opacity: 0.6;
  background: #2d7b55;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.view_job_button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 54, ../../sass/screen.scss */
input {
  float: left;
  font-size: 20px;
  height: 40px;
  line-height: 20px;
  text-indent: 10px;
  width: 170px;
}

/* line 64, ../../sass/screen.scss */
h1 {
  text-align: center;
  clear: both;
}

/* line 69, ../../sass/screen.scss */
h2 {
  text-align: center;
}

/* line 73, ../../sass/screen.scss */
h3 {
  text-align: center;
}

/* line 77, ../../sass/screen.scss */
dt {
  font-weight: 200;
}

/* line 81, ../../sass/screen.scss */
dd {
  margin: 0px;
}

/* line 85, ../../sass/screen.scss */
dd p {
  color: #b3b3b3;
  font-size: 15px;
  margin: 0;
  padding: 5px 0;
}

/* line 92, ../../sass/screen.scss */
dl {
  border-top: 1px solid #d9d9d9;
  /* border-bottom: 1px solid hsl(0, 0%, 85%); */
  padding: 10px;
  margin: 0;
}

/* line 108, ../../sass/screen.scss */
ul {
  padding: 0;
  width: 280px;
  margin: 0 auto;
}
/* line 112, ../../sass/screen.scss */
ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 14px;
}

/* line 119, ../../sass/screen.scss */
.benefits_container {
  position: relative;
}

/* line 123, ../../sass/screen.scss */
.coming_soon_message {
  color: #008a8a;
}

/* line 127, ../../sass/screen.scss */
.homepage_container {
  margin: 0 auto;
  width: 370px;
}

/* line 132, ../../sass/screen.scss */
.form_error_message {
  color: red;
  margin-top: 30px;
  position: relative;
}
