{% extends "index.html" %}

{% block body %}

<body>

    <div class="container">
      <div class="homepage_container">
        <a href="/">home</a>
            <!-- <button class="post_job_button">Post a Job</button> -->
            <h1>Freelance Creative Jobs</h1>
      
            <div class="benefits_container">
              <ul>
                <li>Local.</li>
                <li>No Middlemen.</li>
                <li>Thoughtfully Curated.</li>
              </ul>
            </div>
      
        </div>
        <h3 class="coming_soon_message">We're working hard to unlock jobs in your area. Help speed up the process by spreading the word!!</h3>

    <footer>
    </footer>
  </div>

{% end %}